Wowza babowza what a nice cocktail
<h2><%= @cocktail.name %></h2>
<h3>List of doses:</h3>
<li>
<% @cocktail.doses.each do |dose|%>
  <ul><p><%=dose%></p></ul>
</li>
<% end %>
<p><%= link_to 'Add or delete doses', cocktail_doses_path(@cocktail) %></p>

<p><%= link_to 'Return to drink index', cocktails_path %></p>
